<script type="text/javascript">
    "IntersectionObserver" in window && "Intl" in window && "Locale" in window.Intl || document.write(
        `\x3Cscript src={{"/js/polyfill.min.js" | relURL }}>\x3C/script>`
        )
</script>
<script src={{"/js/script.js" | relURL }}
    crossorigin></script>
<script src={{"/js/UX.4.29.0.js" |relURL }} crossorigin>
</script>
<script src={{"/js/script1.js" | relURL }}
    crossorigin></script>
<script defer src={{"/js/tccl.min.js" | relURL }} crossorigin></script>

