<div data-ux="Container"
class="x-el x-el-div c1-1 c1-2 c1-29 c1-2a c1-v c1-w c1-1y c1-b c1-c c1-d c1-e c1-f c1-g">
<div data-ux="Block" id="navBarId-61984"
    class="x-el x-el-div c1-1 c1-2 c1-39 c1-1e c1-13 c1-14 c1-24 c1-26 c1-b c1-c c1-d c1-3a c1-e c1-f c1-g">
    <div data-ux="Block"
        class="x-el x-el-div c1-1 c1-2 c1-25 c1-15 c1-13 c1-1e c1-3b c1-3c c1-3d c1-b c1-c c1-d c1-e c1-f c1-g">
        <div data-ux="Block" data-aid="HEADER_LOGO_RENDERED"
            class="x-el x-el-div c1-1i c1-1j c1-1k c1-1d c1-c c1-3e c1-3f c1-3g c1-3h c1-d c1-e c1-f c1-g">
            <a rel="" role="link" aria-haspopup="menu"
                data-ux="Link"
                data-page="755b6a1a-561c-4735-91cc-6635f39a7d92"
                title="Excavation et Compagnie" href="/"
                data-typography="LinkAlpha"
                class="x-el x-el-a c1-1o c1-1p c1-1q c1-1r c1-1f c1-1s c1-1t c1-1u c1-1v c1-1w c1-1x c1-1y c1-1z c1-b c1-20 c1-c c1-21 c1-22 c1-23 c1-d c1-e c1-f c1-g"
                data-tccl="ux2.HEADER.header9.Logo.Default.Link.Default.61985.click,click">
                <div data-ux="Block"
                    class="x-el x-el-div c1-1 c1-2 c1-24 c1-25 c1-26 c1-27 c1-1a c1-b c1-c c1-d c1-28 c1-e c1-f c1-g">
                    <img src={{"/images/blob-868c057_1.png" | relURL }}
                        srcSet="{{"/images/blob-868c057_2.png" | relURL }},
                        {{"/images/blob-868c057_3.png" | relURL }} 2x, 
                        {{"/images/blob-868c057_4.png" | relURL }} 3x"
                        alt="Excavation et Compagnie"
                        data-ux="ImageLogo"
                        data-aid="HEADER_LOGO_IMAGE_RENDERED"
                        id="logo-61983"
                        class="x-el x-el-img c1-1 c1-2 c1-1z c1-1y c1-29 c1-2a c1-16 c1-18 c1-2b c1-2c c1-2d c1-2e c1-2f c1-2g c1-24 c1-25 c1-26 c1-27 c1-2h c1-1a c1-b c1-c c1-2i c1-2j c1-2k c1-2l c1-2m c1-2n c1-2o c1-2p c1-2q c1-2r c1-2s c1-2t c1-2u c1-2v c1-d c1-2w c1-2x c1-2y c1-e c1-f c1-g" />
                </div>
            </a></div>
    </div>
    <div data-ux="Block"
        class="x-el x-el-div c1-1 c1-2 c1-15 c1-3i c1-13 c1-3j c1-30 c1-b c1-c c1-d c1-e c1-f c1-g">
        <div data-ux="Block"
            class="x-el x-el-div c1-1 c1-2 c1-15 c1-s c1-3k c1-b c1-c c1-d c1-e c1-f c1-g">
            <nav data-ux="Nav" data-aid="HEADER_NAV_RENDERED"
                role="navigation"
                class="x-el x-el-nav c1-1 c1-2 c1-1y c1-3l c1-b c1-c c1-d c1-e c1-f c1-g">
                {{ partial "home_custom_css.html" . }}
            </nav>
        </div>
    </div>
</div>
</div>